<!DOCTYPE html>
<html lang="en">
<head>
	<base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><?php echo $page_title?></title>
	
    <link href="views/flat/css/bootstrap.flatly.css" rel="stylesheet" />
	<link href="views/flat/css/font-awesome-4.0.3.min.css" rel="stylesheet" />
	<link href="views/flat/css/dashboard.css" rel="stylesheet" />
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
  
<body>
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<a class="hidden-xs open" id="main-menu-toggle"><i class="fa fa-bars"></i></a>		
				<a href="#" class="navbar-brand col-lg-2 col-sm-1 col-xs-12"><span>UGLi</span></a>
				<button data-target=".sidebar-nav.nav-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			</button>
			<!-- start: Header Menu -->
			<div class="nav-no-collapse header-nav">
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown hidden-xs">
						<a href="http://bootstrapmaster.com/live/simpliq2/index.html#" data-toggle="dropdown" class="btn dropdown-toggle">
							<i class="fa fa-warning"></i>
						</a>
						<ul class="dropdown-menu notifications">
							<li class="dropdown-menu-title">
								<span>You have 11 notifications</span>
							</li>	
                        	<li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="icon blue"><i class="fa fa-user"></i></span>
									<span class="message">New user registration</span>
									<span class="time">1 min</span> 
                                </a>
                            </li>
							<li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="icon green"><i class="fa fa-comment"></i></span>
									<span class="message">New comment</span>
									<span class="time">7 min</span> 
                                </a>
                            </li>
							<li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="icon green"><i class="fa fa-comment"></i></span>
									<span class="message">New comment</span>
									<span class="time">8 min</span> 
                                </a>
                            </li>
							<li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="icon green"><i class="fa fa-comment"></i></span>
									<span class="message">New comment</span>
									<span class="time">16 min</span> 
                                </a>
                            </li>
							<li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="icon blue"><i class="fa fa-user"></i></span>
									<span class="message">New user registration</span>
									<span class="time">36 min</span> 
                                </a>
                            </li>
							<li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="icon yellow"><i class="fa fa-shopping-cart"></i></span>
									<span class="message">2 items sold</span>
									<span class="time">1 hour</span> 
                                </a>
                            </li>
							<li class="warning">
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="icon red"><i class="fa fa-user"></i></span>
									<span class="message">User deleted account</span>
									<span class="time">2 hour</span> 
                                </a>
                            </li>
							<li class="warning">
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="icon red"><i class="fa fa-shopping-cart"></i></span>
									<span class="message">Transaction was canceled</span>
									<span class="time">6 hour</span> 
                                </a>
                            </li>
							<li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="icon green"><i class="fa fa-comment"></i></span>
									<span class="message">New comment</span>
									<span class="time">yesterday</span> 
                                </a>
                            </li>
							<li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="icon blue"><i class="fa fa-user"></i></span>
									<span class="message">New user registration</span>
									<span class="time">yesterday</span> 
                                </a>
                            </li>
                            <li class="dropdown-menu-sub-footer">
                        		<a>View all notifications</a>
							</li>	
						</ul>
					</li>
					<!-- start: Notifications Dropdown -->
					<li class="dropdown hidden-xs">
						<a href="http://bootstrapmaster.com/live/simpliq2/index.html#" data-toggle="dropdown" class="btn dropdown-toggle">
							<i class="fa fa-tasks"></i>
						</a>
						<ul class="dropdown-menu tasks">
							<li>
								<span class="dropdown-menu-title">You have 17 tasks in progress</span>
                        	</li>
							<li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="header">
										<span class="title">iOS Development</span>
										<span class="percent">80%</span>
									</span>
                                    <div class="taskProgress progressSlim progressBlue ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">80<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 80%;"></div><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 80%;"></div></div> 
                                </a>
                            </li>
                            <li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="header">
										<span class="title">Android Development</span>
										<span class="percent">47%</span>
									</span>
                                    <div class="taskProgress progressSlim progressYellow ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="47">47<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 47%;"></div><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 47%;"></div></div> 
                                </a>
                            </li>
                            <li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="header">
										<span class="title">Django Project For Google</span>
										<span class="percent">32%</span>
									</span>
                                    <div class="taskProgress progressSlim progressRed ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="32">32<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 32%;"></div><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 32%;"></div></div> 
                                </a>
                            </li>
							<li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="header">
										<span class="title">SEO for new sites</span>
										<span class="percent">63%</span>
									</span>
                                    <div class="taskProgress progressSlim progressGreen ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="63">63<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 63%;"></div><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 63%;"></div></div> 
                                </a>
                            </li>
                            <li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="header">
										<span class="title">New blog posts</span>
										<span class="percent">80%</span>
									</span>
                                    <div class="taskProgress progressSlim progressPink ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">80<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 80%;"></div><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 80%;"></div></div> 
                                </a>
                            </li>
							<li>
                        		<a class="dropdown-menu-sub-footer">View all tasks</a>
							</li>	
						</ul>
					</li>
					<!-- end: Notifications Dropdown -->
					<!-- start: Message Dropdown -->
					<li class="dropdown hidden-xs">
						<a href="http://bootstrapmaster.com/live/simpliq2/index.html#" data-toggle="dropdown" class="btn dropdown-toggle">
							<i class="fa fa-envelope"></i>
						</a>
						<ul class="dropdown-menu messages">
							<li>
								<span class="dropdown-menu-title">You have 9 messages</span>
							</li>	
                        	<li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="avatar"><img alt="Avatar" src="a_data/avatar.jpg"></span>
									<span class="header">
										<span class="from">
									    	Łukasz Holeczek
									     </span>
										<span class="time">
									    	6 min
									    </span>
									</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>  
                                </a>
                            </li>
                            <li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="avatar"><img alt="Avatar" src="a_data/avatar2.jpg"></span>
									<span class="header">
										<span class="from">
									    	Megan Abott
									     </span>
										<span class="time">
									    	56 min
									    </span>
									</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>  
                                </a>
                            </li>
                            <li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="avatar"><img alt="Avatar" src="a_data/avatar3.jpg"></span>
									<span class="header">
										<span class="from">
									    	Kate Ross
									     </span>
										<span class="time">
									    	3 hours
									    </span>
									</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>  
                                </a>
                            </li>
							<li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="avatar"><img alt="Avatar" src="a_data/avatar4.jpg"></span>
									<span class="header">
										<span class="from">
									    	Julie Blank
									     </span>
										<span class="time">
									    	yesterday
									    </span>
									</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>  
                                </a>
                            </li>
                            <li>
                                <a href="http://bootstrapmaster.com/live/simpliq2/index.html#">
									<span class="avatar"><img alt="Avatar" src="a_data/avatar5.jpg"></span>
									<span class="header">
										<span class="from">
									    	Jane Sanders
									     </span>
										<span class="time">
									    	Jul 25, 2012
									    </span>
									</span>
                                    <span class="message">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                    </span>  
                                </a>
                            </li>
							<li>
                        		<a class="dropdown-menu-sub-footer">View all messages</a>
							</li>	
						</ul>
					</li>
					<!-- end: Message Dropdown -->
					<li>
						<a href="http://bootstrapmaster.com/live/simpliq2/index.html#" class="btn">
							<i class="fa fa-wrench"></i>
						</a>
					</li>
					<!-- start: User Dropdown -->
					<li class="dropdown">
						<a href="http://bootstrapmaster.com/live/simpliq2/index.html#" data-toggle="dropdown" class="btn account dropdown-toggle">
							<div class="avatar"><img alt="Avatar" src="assets/img/default-avatar.png"></div>
							<div class="user">
								<span class="hello">Welcome!</span>
								<span class="name">First Last</span>
							</div>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-menu-title">
								
							</li>
							<li><a href="http://bootstrapmaster.com/live/simpliq2/index.html#"><i class="fa fa-user"></i> Profile</a></li>
							<li><a href="http://bootstrapmaster.com/live/simpliq2/index.html#"><i class="fa fa-cog"></i> Settings</a></li>
							<li><a href="http://bootstrapmaster.com/live/simpliq2/index.html#"><i class="fa fa-envelope"></i> Messages</a></li>
							<li><a href="http://bootstrapmaster.com/live/simpliq2/login.html"><i class="fa fa-off"></i> Logout</a></li>
						</ul>
					</li>
					<!-- end: User Dropdown -->
				</ul>
			</div>
			<!-- end: Header Menu -->
			
		</div>	
	</header>
	
	
	
	<div class="container">
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2">
				<nav>
					<h1>Navigation</h1>
					<ul>
						<li><a href="articles.html">Index of all articles</a></li>
						<li><a href="today.html">Things sheeple need to wake up for today</a></li>
						<li><a href="successes.html">Sheeple we have managed to wake</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10">
			</div>
		</div>
	</div>
	
	<div class="container-fluid" id="footer">
		<div class="row">

			<div class="col-md-1">
			</div>
				
			<div class="col-md-7">
				<h3>Service</h3>
				<p>Terms of Service</p>
				<p>Privacy Policy</p>
				<p>Contact Us</p>
			</div>
			
			<div class="col-md-4 pull-right">
				<h3>Project UGLi</h3>
				<p>&copy; Purdue University 2014 <br />
				1016 W Stadium Ave, West Lafayette, IN 47906</p>
				<p><?php 
					echo Base::instance()->format('Exec time: {0} ms / Memory: {1} KiB', round(1e3*(microtime(TRUE)-$TIME),2), round(memory_get_usage(TRUE)/1e3,1)); ?>
				</p>
			</div>
			
		</div>
	</div>
				
	<script src="views/flat/js/jquery-1.11.0.min.js"></script>
	<script src="views/flat/js/bootstrap.min.js"></script>
	<script src="views/flat/js/holder.js"></script>
	<script src="views/flat/js/dashboard.js"></script>
	<script src="assets/js/jquery.crypto.js"></script>
</body>
</html>