<!DOCTYPE html>
<html lang="en">
  <head>
	<base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><?php echo $page_title?></title>
	
    <!-- Bootstrap core CSS -->
    <link href="views/flat/css/bootstrap.flatly.css" rel="stylesheet" />
	
	<link href="views/flat/css/homepage.css" rel="stylesheet" />
	
	<link href="views/flat/css/font-awesome-4.0.3.min.css" rel="stylesheet" />
	
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><i class="fa fa-home"></i> Home</a>
			</div>
			<div class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="form" method="post" action="/api/login" id="nav-login">
					<div class="form-group">
						<input type="email" id="nav-login-email" name="email" value="" placeholder="Email" class="form-control" data-placement="bottom" data-trigger="manual" title="Please enter a valid email address">
					</div>
					<div class="form-group">
						<input type="password" id="nav-login-pass" name="password" placeholder="Password" value="" class="form-control" data-placement="bottom" data-trigger="manual" title="Password must be at least characters">
					</div>
					<button type="submit" id="nav-login-btn" class="btn btn-success" data-placement="bottom" data-trigger="click">Sign in</button>
				</form>
			</div><!--/.navbar-collapse -->
		</div>
    </div>
	
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-7" id="welcome-panel">
					<div class="row">
						<h1>Welcome!</h1>
						<p><strong>Unified Group Life</strong> (or &quot;<em>UGLi</em>&quot; in short) is 
						a project that aims to simplify group life in a light-weight app that helps users 
						manage tasks, funds, and items as a team.
						</p>
					</div>
					<div class="row">
						Second row.
					</div>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-4">
					<div class="panel panel-primary" id="join-panel">
						<div class="panel-heading">
							<h3 class="panel-title">Join UGLi</h3>
						</div>
						<div class="panel-body form-signin" id="register-panel">
							<div class="main">
								<div class="row">
									<h3>Connect with</h3>
									<div class="col-xs-3 col-sm-3 col-md-3 text-center">
										<a id="fb-icon" href="/oauth/facebook"><i class="fa fa-facebook-square fa-3x"></i></a>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 text-center">
										<a id="ms-icon" href="/oauth/live"><i class="fa fa-windows fa-3x"></i></a>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 text-center">
										<a id="linkedin-icon" href="/oauth/"><i class="fa fa-linkedin fa-3x"></i></a>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-3 text-center">
										<a id="github-icon" href="/oauth/github"><i class="fa fa-github fa-3x"></i></a>
									</div>
								</div>
								<div class="login-or">
									<hr class="hr-or" />
									<span class="span-or">or</span>
								</div>
								<form class="form-signin" role="form">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 form-group">
											<input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name" tabindex="1" autofocus required />
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6 form-group">
											<input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name" tabindex="2" required />
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 form-group">
											<input type="email" name="inputUserEmail" class="form-control" placeholder="Email address" tabindex="3" required />
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 form-group text-center">
											<input type="password" name="password" class="form-control firstInput" placeholder="Password" tabindex="4" required />
											<input type="password" name="confirm_pass" class="form-control lastInput" placeholder="Confirm password" tabindex="5" required />
											<input type="checkbox" name="agree" value="true" tabindex="6"> I agree to the terms of services.
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12">
											<button class="btn btn-lg btn-success btn-block" type="submit" tabindex="7">Create my Account</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2><i class="fa fa-users fa-2x"></i> Groups</h2>
				<p class="lead">Ask your friends, dormmates, teammates, or whoever share similar interests with you to join a group and start a different social life immediately. </p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-6">
				<h2><i class="fa fa-list-alt fa-2x"></i> Stickyboards</h2>
				<p class="lead">Use Stickyboards to post tasks, take notes, set reminders, or simply share information to the group. </p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
		</div>
		<hr class="featurette-divider" />
		<div class="row">
			<div class="col-md-4">
				<h2 class="text-center"><i class="fa fa-tasks fa-2x"></i> Tasks</h2>
				<p class="lead">Sula porta fpibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2 class="text-center"><i class="fa fa-book fa-2x"></i> Manage Items</h2>
				<p class="lead">Remind your forgetful friend if you lend out your headphones, or keep a record for yourself. </p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2 class="text-center"><i class="fa fa-credit-card fa-2x"></i> Wallet</h2>
				<p class="lead">Manage public funds, keep track of income and expense, and generate diagrams in one place. You also have a private wallet.</p>
				<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="footer">

		<div class="row">

			<div class="col-md-1">
			</div>
				
			<div class="col-md-7">
				<h3>Service</h3>
				<p>Terms of Service</p>
				<p>Privacy Policy</p>
				<p>Contact Us</p>
			</div>
			
			<div class="col-md-4 pull-right">
				<h3>Project UGLi</h3>
				<p>&copy; Purdue University 2014 <br />
				1016 W Stadium Ave, West Lafayette, IN 47906</p>
				<p><?php 
					echo Base::instance()->format('Exec time: {0} ms / Memory: {1} KiB', round(1e3*(microtime(TRUE)-$TIME),2), round(memory_get_usage(TRUE)/1e3,1)); ?>
				</p>
			</div>
			
		</div>
	</div>
				
	<script src="views/flat/js/jquery-1.11.0.min.js"></script>
	<script src="views/flat/js/bootstrap.min.js"></script>
	<script src="views/flat/js/holder.js"></script>
	<script src="views/flat/js/homepage.js"></script>
	<script src="assets/js/jquery.crypto.js"></script>
</body>
</html>