html{
	height: 100%;
}

body {
	padding-top: 44px;
	position: relative;
	min-height: 100%;
}

#footer {
	margin-top: 100px;
    background: #333;
    color: #eee;
    /*margin-top: 60px;
	margin-bottom:0;*/
	padding-top:20px;
	padding-bottom:20px;
	position: relative;
	bottom: 0;
}

.ajax-loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(111, 111, 111, .8 ) 
                50% 50% 
                no-repeat;
}

.featurette-divider {
	margin: 20px 0;
}

.jumbotron {
	background-image: url('../img/bg.jpg');
}

.jumbotron #welcome-panel{
	color: #fff;
}

.form-signin {
	max-width: 400px;
	margin: 0 auto;
}

.form-signin  .main {
	max-width: 360px;
	margin: 0 auto;
}

.form-signin .login-or {
	position: relative;
	font-size: 1.1em;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.form-signin  .span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}

.form-signin  .hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.form-signin  h3 {
    text-align: center;
    line-height: 100%;
	margin-top: 0;
  }

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .firstInput {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .centerInput {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.form-signin .lastInput {
	margin-bottom: 10px !important;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#fb-icon {
	color: #3b5998;
}

#fb-icon:active, #fb-icon:hover {
	color: #30487b;
}

#ms-icon {
	color: #4d90fe;
}

#ms-icon:active, #ms-icon:hover {
	color: #3c89ed;
}

#linkedin-icon {
	color: #007bb6;
}

#linkedin-icon:active, #linkedin-icon:hover {
	color: #005f8d;
}

#github-icon {
	color: #444;
}

#github-icon:active, #github-icon:hover {
	color: #303030;
}

.jumbotron, .container{
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

/* Panel */

.panel-primary {
	border: none;
}

.panel-primary > .panel-heading {
	/*background-color: #00a388;*/
	padding: 0.9em;
	border: none;
}

.panel-primary > .panel-heading a {
	color: #fff;
}

.panel-heading > .panel-title{
	font-weight: 700;
	font-size:1.3em;
}

.panel-primary.navbar-inverse > .panel-heading {
	/*background-color: #383941;*/
}

/* Nav */
.navbar-brand {
	font-weight: 700;
}

.modal-warning {border:1px solid #d08002}
.modal-warning .modal-header{color:#e99002;background-color:#fcf8e3;border-color:#d08002}
.modal-warning .modal-header+.modal-collapse .modal-body{border-top-color:#d08002}
.modal-warning .modal-footer+.modal-collapse .modal-body{border-bottom-color:#d08002}