<!DOCTYPE html>
<html>
<head>
	<base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="views/semantic/css/semantic.min.css" />
	<link rel="stylesheet" type="text/css" href="views/semantic/css/homepage.css" />
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<title><?php echo $page_title?></title>
</head>

<body id="home">
  <div class="ui inverted page grid stackable relaxed feature segment">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui header">
			User Stories
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="ten wide column">
        <h2 class="ui header">Ways to Use UGLi</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in lacus commodo, luctus augue at, iaculis lacus. Sed malesuada ut dui vel commodo. Nulla hendrerit mattis dui et ultrices. Nulla. </p>
        <p>This and other tips can be found in our newsletter, amazing right?</p>
        <div class="ui basic inverted animated button button">
          <div class="visible content">Read More</div>
          <div class="hidden content"><i class="right arrow icon"></i></div>
        </div>
        <div class="ui inverted section divider"></div>
        <h3 class="ui header">More articles</h3>
        <div class="ui inverted animated selection list">
          <div class="item">
            How to win in a fight with a cat
            <div class="right floated">Jan 20, 2023</div>
          </div>
          <div class="item">
            A Supposedly Fun Cat Toy I will Never Buy Again
            <div class="right floated">Jan 1, 2023</div>
          </div>
          <div class="item">
            Much ado about yarn
            <div class="right floated">Dec 20, 2022</div>
          </div>
        </div>
      </div>
      <div class="six wide column">
        <div class="ui secondary form segment">
          <h3 class="ui header">Subscribe to Newsletter</h3>
          <p>Sign up and get spammed every day. We have no unsubscribe button yet!</p>
          <div class="field">
            <div class="ui left icon action input">
              <i class="user icon"></i>
              <input name="email" type="text" placeholder="name@email.com">
              <div class="ui teal submit button">Sign up</div>
            </div>
          </div>
          <div class="ui error message"></div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="ui inverted page grid masthead segment">
    <div class="column">
      <div class="inverted secondary pointing ui menu">
        <div class="header item">Unified Group Life</div>
        <div class="right menu">
          <div class="ui top right pointing mobile dropdown link item">
            Menu
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item">Classes</a>
              <a class="item">Cocktail Hours</a>
              <a class="item">Community</a>
            </div>
          </div>
          <div class="ui dropdown link item">
            Menu
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item">Petting</a>
              <a class="item">Feeding</a>
              <a class="item">Mind Reading</a>
            </div>
          </div>
          <a class="item">Log In</a>
          <a class="item">Register</a>
        </div>
      </div>
      <div class="ui hidden transition information">
	  <div class="ui two column grid">
  <div class="column">
		<div class="ui fluid">
        <h1 class="ui inverted header">
          Welcome
        </h1>
        <p>Unified Group Life (aka., UGLi) is a project that aims to simplify group life in a light-weight app that helps users manage tasks, funds, and items as a team.</p>
		<div class="large basic inverted animated fade ui button">
          <div class="visible content">Get Android App</div>
          <div class="hidden content">Go to Google Play</div>
        </div>
		</div>
		</div>
  <div class="column">
    <div class="ui large top attached filter menu">
  <a class="active item" data-tab="signin">signin</a>
  <a class="item" data-tab="signup">signup</a>
</div>
<div class="ui bottom attached active segment tab" data-tab="signin">
  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
</div>
<div class="ui bottom attached segment tab" data-tab="signup">
  Tabs
</div>
  </div>
</div>

      </div>
	 
    </div>
  </div>
  
  <div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Modal Title
  </div>
  <div class="content">
    <div class="left">
      Content can appear on left
    </div>
    <div class="right">
      Content can appear on right
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
  </div>
  
  <div class="ui vertically divided stackable grid page segment">
  <div class="two center aligned divided column row">
    <div class="column">
		<div class="ui icon header">
            <i class="circular users link icon"></i>
            Groups 
          </div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
    </div>
    <div class="column">
		<div class="ui icon header">
            <i class="circular browser link icon"></i>
            Stickyboard
          </div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
    </div>
  </div>
  <div class="three center aligned column row">
    <div class="column">
		<div class="ui icon header">
            <i class="circular tasks link icon"></i>
            Tasks 
          </div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
    </div>
    <div class="column">
		<div class="ui icon header">
            <i class="circular book link icon"></i>
            Item
          </div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
    </div>
    <div class="column">
		<div class="ui icon header">
            <i class="circular money link icon"></i>
            Wallet
          </div>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
    </div>
  </div>
  
 
  <div class="ui inverted teal page grid segment">
    <div class="ten wide column">
      <div class="ui three column stackable grid">
        <div class="column">
          <div class="ui header">Services</div>
          <div class="ui inverted link list">
            <a class="item">Registration</a>
            <a class="item">Course Calendar</a>
            <a class="item">Professors</a>
          </div>
        </div>
        <div class="column">
          <div class="ui header">Library</div>
          <div class="ui inverted link list">
            <a class="item">A-Z</a>
            <a class="item">Most Popular</a>
            <a class="item">Recently Changed</a>
          </div>
        </div>
        <div class="column">
          <div class="ui header">Agreement</div>
          <div class="ui inverted link list">
            <a class="item">Terms of Services</a>
            <a class="item">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide right floated aligned column">
      <h3 class="ui header">Contact Us</h3>
      <addr>
        1016 W Stadium Ave <br>
        W Lafayette, IN 47906 <br>
      </addr>
	  <p><?php echo Base::instance()->format('Exec time: {0} msecs / Memory: {1} KiB',round(1e3*(microtime(TRUE)-$TIME),2),round(memory_get_usage(TRUE)/1e3,1)); ?></p>
    </div>
  </div>
  <script src="views/semantic/js/jquery-1.11.0.min.js"></script>
  <script src="views/semantic/js/semantic.js"></script>
  <script src="views/semantic/js/homepage.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.js"></script>
  <script>
  //$('.modal').modal('setting', 'closable', false).modal('show');
  </script>
</body>

</html>
