article a {
	color: #2db6f1;
	text-decoration: underline;
}
article a:hover {
	text-decoration: none;
}
.btn-group-vertical.navbar-inverse .btn-default:hover,
.btn-group-vertical.navbar-inverse .btn-default:focus,
.btn-group-vertical.navbar-inverse .btn-default:active,
.btn-group-vertical.navbar-inverse .btn-default.active,
.btn-group-vertical.navbar-inverse .open .dropdown-toggle.btn-default {
    background-color: #383941;
    border-color: #383941;
    color: #fff;
}
.btn-primary {
    background-color: #2db6f1;
	border-color: #0d8dc3;	
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #0d8dc3;
    border-color: #05746e;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #0680b4;
    border-color: #004a46;
}
.btn-success {
    background-color: #0fb97f;
	border-color: #0b9968;	
}
.btn-success:hover,
.btn-success:focus {
    background-color: #07a16c;
    border-color: #057851;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #038257;
    border-color: #025237;
}
.btn-info {
    background-color: #6ab4f3;
	border-color: #588cb9;	
}
.btn-info:hover,
.btn-info:focus {
    background-color: #5296cf;
    border-color: #487aa6;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-color: #3270a4;
    border-color: #224f76;
}
.btn-warning {
    background-color: #f5cd40;
	border-color: #ddb424;	
}
.btn-warning:hover,
.btn-warning:focus {
    background-color: #e9bd24;
    border-color: #c9a217;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-color: #d1a50c;
    border-color: #b28d08;
}
.btn-danger {
    background-color: #ef4840;
	border-color: #ce2e26;	
}
.btn-danger:hover,
.btn-danger:focus {
    background-color: #d8362e;
    border-color: #ad1b14;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #af1c15;
    border-color: #810f09;
}
.dropdown-header {
    background-color: #383941;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #2db6f1;
}
.dropdown-menu.navbar-inverse {
  background-color: #0d8dc3;
  border-color: #0d8dc3;
}
.dropdown-menu.navbar-inverse > li > a {
    color: #fff;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #b7e3f6;
}
/* Navbar */

.navbar {
    background-color: #2db6f1;
    border-bottom: 2px solid #0d8dc3;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    background-color: #0d8dc3;
}
.navbar.navbar-inverse .navbar-nav > .active > a,
.navbar.navbar-inverse .navbar-nav > .active > a:hover,
.navbar.navbar-inverse .navbar-nav > .active > a:focus,
.navbar.navbar-inverse .navbar-nav > li > a:hover,
.navbar.navbar-inverse .navbar-nav > li > a:focus,
.navbar.navbar-inverse .navbar-nav > .open > a,
.navbar.navbar-inverse .navbar-nav > .open > a:hover,
.navbar.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #2db6f1;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #0d8dc3;
}
.navbar.navbar-inverse {
    background-color: #4e4e4b;
    border-bottom: none;
}

.navbar.navbar-inverse .nav .dropdown.open .dropdown-menu {
	background-color: #e9e9e9;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #0D8DC3;
}
.navbar.navbar-inverse .navbar-toggle:hover,
.navbar.navbar-inverse .navbar-toggle:focus {
  background-color: #2DB6F1;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-weight: 700;
}
.nav-tabs > li > a,
.nav-pills > li > a {
    color: #0d8dc3;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #0d8dc3;
	color: #fff;
}

/* Navbar-form */

.navbar-form .form-group .glyphicon {
	color: #2db6f1;
}
.navbar-inverse .navbar-form .form-group .glyphicon {
	color: #383941;
}

/* Progress bars*/

.progress .progress-bar{
	background-color: #2db6f1;
}
.progress .progress-bar-success {
	background-color: #0fb97f;
}
.progress .progress-bar-info{
	background-color: #4fc4f6;
}
.progress .progress-bar-warning{
	background-color: #f5cd40;
}
.progress .progress-bar-danger{
	background-color: #ef4840;
}
.progress .progress-bar:after{
	background-color: #383941;
}

/* Lists */
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    background-color: #2db6f1;
	border-color: #2db6f1;
	color: #fff;
}
.navbar-inverse .list-group-item.active,
.navbar-inverse .list-group-item.active:hover,
.navbar-inverse .list-group-item.active:focus,
.navbar-inverse a.list-group-item.active,
.navbar-inverse a.list-group-item.active:hover,
.navbar-inverse a.list-group-item.active:focus {
    background-color: #383941;
	border-color: #383941;
	color: #fff;
}
.badge {
	background-color: #2db6f1;
}
.active .badge {
	color: #2db6f1;
	background-color: #fff;
}
.navbar-inverse .badge {
	background-color: transparent;
	color: #2db6f1;
}
.navbar-inverse .active .badge {
	color: #fff;
	background-color: transparent;
}
/* Popover */
.popover {
	background-color: #2db6f1;
}
.popover .arrow,
.popover .arrow:after {
	border-top-color: #2db6f1;
}
/* Datepicker */
.datepicker {
	background-color: #383941;
}
.datepicker .datepicker-days:before,
.datepicker .datepicker-days:after{
    background-color: #383941;
}
.datepicker thead {
	background-color: #383941;
}
.datepicker table tr td.day.active {
  background: #2db6f1;
}
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover {
  color: #2db6f1;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background: #2db6f1;
}

/* Panel */

.panel-primary {
	border: none;
}

.panel-primary > .panel-heading {
	background-color: #00a388;
	padding: 1em;
	border: none;
}

.panel-heading > .panel-title{
	font-weight: 700;
	font-size:1.3em;
}

.panel-primary.navbar-inverse > .panel-heading {
	background-color: #383941;
}