/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

#footer {
    background: #333333;
    color: #EEEEEE;
    margin-top: 60px;
	margin-bottom:0;
	padding-top:20px;
	padding-bottom:20px;
}

.featurette-divider {
    margin: 20px 0;
}

.jumbotron {
	background-image: url('../img/bg.jpg');
}

.jumbotron #welcome-panel{
	color: #fff;
}

.jumbotron, .container{
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

#fb-icon {
	color: #3b5998;
}

#fb-icon:active, #fb-icon:hover {
	color: #30487b;
}

#ms-icon {
	color: #4d90fe;
}

#ms-icon:active, #ms-icon:hover {
	color: #3c89ed;
}

#linkedin-icon {
	color: #007bb6;
}

#linkedin-icon:active, #linkedin-icon:hover {
	color: #005f8d;
}

#github-icon {
	color: #444;
}

#github-icon:active, #github-icon:hover {
	color: #303030;
}



/* Panel */

.panel-primary {
	border: none;
}

.panel-primary > .panel-heading {
	/*background-color: #00a388;*/
	padding: 1em;
	border: none;
}

.panel-heading > .panel-title{
	font-weight: 700;
	font-size:1.3em;
}

.panel-primary.navbar-inverse > .panel-heading {
	/*background-color: #383941;*/
}

/* Nav */
.navbar-brand {
	font-weight: 700;
}

#user_menu {
}

#user_menu #avatar{
	width: 42px;
	height: 42px;
}

a#main-menu-toggle {
    margin-left: 14.422%;
}
a#main-menu-toggle {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    left: 5px;
    padding: 10px 12px;
    position: absolute;
    text-decoration: none;
    text-shadow: none;
    top: 0;
    z-index: 1000;
}
.navbar a {
    color: #7B7B7B;
}

a.navbar-brand {
    position: absolute;
    width: 14.422%;
}
a.navbar-brand {
    background: none repeat scroll 0 0 #1E8FC6;
    border-bottom: 1px solid #1E8FC6;
    padding: 9px 0 10px !important;
    text-align: center;
}
.navbar a {
    color: #7B7B7B;
}

.header-nav {
    background: none repeat scroll 0 0 #000000 !important;
    color: #FFFFFF !important;
    padding: 0;
}

.header-nav a.btn.account {
    padding: 6px 10px 5px 0 !important;
}
.header-nav a.btn {
    color: #FFFFFF !important;
    padding: 8px 15px 11px !important;
    text-shadow: none !important;
}
.header-nav .btn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    font-size: 15px;
    margin: 0;
    text-align: center;
}

.header-nav .avatar {
    float: left;
    width: 60px;
}

.header-nav .avatar img {
    border-radius: 50em;
    height: 30px;
    margin: -13px 10px -14px;
    width: 30px;
}

.header-nav .user {
    display: inline-block;
    margin-top: -5px;
    padding: 0;
    text-align: left;
}

.header-nav .user .name {
    display: block;
    font-size: 13px;
    margin-top: -6px !important;
}

.header-nav .user .hello {
    display: block;
    font-size: 11px;
    font-weight: bold;
}

a#main-menu-toggle {
    margin-left: 14.422%;
}
a#main-menu-toggle {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    left: 5px;
    padding: 10px 12px;
    position: absolute;
    text-decoration: none;
    text-shadow: none;
    top: 0;
    z-index: 1000;
}