<div class="container-fluid">
	<div class="row">
		<h2 class="sub-header"><?php echo $board_item["title"]?></h2>
		<div class="col-md-12 discussions">
			<ul>
				<li>
					<?php
					echo \View::instance()->render("discussion.html");
					?>
					<ul>
						<li>
							<?php
					echo \View::instance()->render("discussion.html");
					?>
						</li>
						<li>
							<?php
					echo \View::instance()->render("discussion.html");
					?>
						</li>
						<li>
							<div class="author">
								<img alt="avatar" src="assets/img/default-avatar.png">
							</div>
							<textarea placeholder="Write comment" class="diss-form" style="height: 67px; overflow: hidden; word-wrap: break-word; resize: horizontal;"></textarea>
						</li>
					</ul>
				</li>
				<li>
					<?php
					echo \View::instance()->render("discussion.html");
					?>
					<ul>
						<?php
						/*foreach ($subjects as $single_subjects){
							echo "123";
							echo "discussion<br>";
							foreach ($single_subjects["sub_subjects"] as $sub_subject){
								echo "sub_discussion<br>";
							}
							echo "/123";
						}*/
						?>
						<li>
							<?php
					echo \View::instance()->render("discussion.html");
					?>
						</li>
						<li>
							<div class="author">
								<img alt="avatar" src="assets/img/avatar9.jpg">
							</div>
							<textarea placeholder="Write comment" class="diss-form" style="height: 67px; overflow: hidden; word-wrap: break-word; resize: horizontal;"></textarea>
						</li>
					</ul>
				</li>
			</ul>
		</div><!--/col-->
	</div>
</div>