<?php
if (!function_exists("renderDiscussionItem")) {
	function renderDiscussionItem($discussion){
		$user_info = \models\User::instance()->findById($discussion["user_id"]);
		if ($user_info["avatar_url"] == "") $user_info["avatar_url"] = "/assets/img/default-avatar.png";
		if (!empty($user_info["first_name"]) or !empty($user_info["last_name"]))
			$name = $user_info["first_name"] . " " . $user_info["last_name"];
		else $name = $user_info["nickname"];
		
		return "<li>".
			"	<div class=\"author\">".
			"		<img alt=\"avatar\" src=\"" . $user_info["avatar_url"] . "\">".
			"	</div>".
			"	<div class=\"name\">" . $name . "</div>".
			"	<div class=\"date\">" . $discussion["created_at"] . "</div>".
			"	<div class=\"delete\"><i class=\"fa fa-times\"></i></div>".
			"	<div class=\"message\"><div class=\"subject\"></div><div class=\"body\">". $discussion["body"] .
			"	</div></div>".
			""; // note the special handling of the corresponding li
	}
}

if (empty($me["avatar_url"]))
	$me["avatar_url"] = "assets/img/default-avatar.png";
?><div class="container-fluid board_item" id="board_<?php echo $board_item["id"]?>">
	<div class="row">
		<h2 class="sub-header">
			<span class="cursor-pointer" onclick="togglePanel(this)">
				<i class="fa fa-angle-up"></i> <?php echo $board_item["title"]?>
			</span>
			<div class="btn-group pull-right">
				<a role="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu pull-right" role="menu">
					<li><a href="#"><i class="fa fa-pencil-square-o fa-fw"></i> Edit</a></li>
					<li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
					<li class="divider"></li>
					<li><a href="#"><i class="fa fa-refresh fa-fw"></i> Refresh</a></li>
				</ul>
			</div>
		</h2>
		<div class="col-md-12 discussions" id="content">
<?php
if ($board_item["discussion_list"])
	foreach($board_item["discussion_list"] as $key => $value) {
			$count = $value["count"]; // number of discussion items
			$buf = "<li>".
					"<div class=\"author\">".
					"	<img alt=\"avatar\" src=\"". $me["avatar_url"] ."\">".
					"</div>".
					"<textarea placeholder=\"Write comment\" class=\"diss-form\"></textarea>".
				"</li>";
			while ($count > 1) { // there are replies
				$buf = renderDiscussionItem($value["discussions"][$count - 1]) . "</li>" . $buf;
				--$count;
			}
			$buf = "<ul>" . $buf . "</ul>";
			echo "<ul>" . renderDiscussionItem($value["discussions"][0]) . $buf . "</li></ul>";
	}

echo "<ul><li>".
		"<div class=\"author\">".
		"	<img alt=\"avatar\" src=\"" . $me["avatar_url"] . "\">".
		"</div>".
		"<textarea placeholder=\"Write comment\" class=\"diss-form\"></textarea>".
	"</li></ul>";
?>
		<hr class="page-divider" />
		</div>
	</div>
</div>