Hello,

Your friend {{ @user_info["first_name"] }} {{ @user_info["last_name"] }} ({{ @user_info["nickname"] }}) just invited you to join his / her UGL group {{ @group_info["alias"] }} ({{ @public_group_url }}).

Unified Group Life, or UGL, is a project that aims to simplify group life in a light-weight app that helps users manage tasks, funds, and items as a team. 

To join the group, please sign in or register an account at {{ @APP_URL }}, and go to this URL

{{ @APP_URL }}/accept_invitation?t={{ @ticket_str }}


If you prefer not to accept the invitation, please ignore this email.

Thank you!

Best wishes,
UGL Team
