<?php
if (isset($group_header)) :
?><!DOCTYPE html>
<html lang="en">
	<head>
		<base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title><?php echo $group_info["alias"]?> | Ugl</title>
		<link rel="dns-prefetch" href="//cdnjs.cloudflare.com/">
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/css/animate.min.css" />
		<link rel="stylesheet" href="assets/custom/usercp.theme.css" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" />
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

<body>
	<header class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><i class="fa fa-home"></i> Home</a>
			</div>
			<div class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="form" method="post" action="/api/login" id="nav-login">
					<div class="form-group">
						<input type="email" id="nav-login-email" name="email" value="" placeholder="Email" class="form-control" data-placement="bottom" data-trigger="manual" title="Please enter a valid email address">
					</div>
					<div class="form-group">
						<input type="password" id="nav-login-pass" name="password" placeholder="Password" value="" class="form-control" data-placement="bottom" data-trigger="manual" title="Password must be at least characters">
					</div>
					<button type="submit" id="nav-login-btn" class="btn btn-success" data-placement="bottom" data-trigger="click">Sign in</button>
				</form>
			</div><!--/.navbar-collapse -->
		</div>
    </header>
<?php endif; ?>
<div class="container-fluid">
	<ol class="breadcrumb">
		<li>Home</li>
		<li><a href="/my/groups">Groups</a></li>
		<li id="group-alias" class="active"><?php echo $group_info["alias"]?></li>
	</ol>
	
	<h1 class="page-header"><?php echo $group_info["alias"]?>
	<div class="pull-right">
		<a class="btn btn-primary" role="button" data-toggle="modal" data-target="#leave_group_modal"><i class="fa fa-cog"></i> Join</a>
		<a class="btn btn-success" role="button" data-toggle="modal" data-target="#manage_group_modal"><i class="fa fa-cog"></i> Manage</a>
		<a class="btn btn-default" role="button" data-toggle="modal" data-target="#leave_group_modal"><i class="fa fa-sign-out"></i> Leave</a>
	</div>
	</h1>
	<article class="row">
		<section class="col-sm-3 col-md-4 text-center">
			<img class="large-avatar largest-avatar" src="<?php echo $group_info["avatar_url"] == "" ? "assets/img/default-avatar-group.png" : $group_info["avatar_url"] ?>" />
		</section>
		<section class="col-sm-9 col-md-8">
			<h4><em><?php echo $group_info["description"]?></em></h4>
			<hr class="section-divider" />
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-3 col-md-4">
						Created at
					</div>
					<div class="col-sm-9 col-md-8">
						<?php echo $group_info["created_at"]?>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 col-md-4">
						Members
					</div>
					<div class="col-sm-9 col-md-8">
						<?php echo $group_info["num_of_users"]?>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 col-md-4">
						Tags
					</div>
					<div class="col-sm-9 col-md-8">
						<?php echo $group_info["tags"]?>
					</div>
				</div>
			</div>
		</section>
	</article>
	<article class="row">
		<h2 class="sub-header">Sample board list</h2>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 main discussions">
					<ul>
						<li>
							<div class="author">
								<img alt="avatar" src="assets/img/default-avatar.png">
							</div>
							<div class="name">Lukasz Holeczek</div>
							<div class="date">Today, 1:08 PM</div>
							<div class="delete"><i class="fa fa-times"></i></div>
							<div class="message">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
								diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
								volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
								ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
							</div>
							<ul>
								<li>
									<div class="author">
										<img alt="avatar" src="assets/img/avatar3.jpg">
									</div>
									<div class="name">Ann Kovalsky</div>
									<div class="date">Today, 1:08 PM</div>
									<div class="delete"><i class="fa fa-times"></i></div>
		
									<div class="message">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
										diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
										volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
										ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
									</div>
								</li>
								<li>
									<div class="author">
										<img alt="avatar" src="assets/img/avatar6.jpg">
									</div>
									<div class="name">Megan Abbott</div>
									<div class="date">Today, 1:08 PM</div>
									<div class="delete"><i class="fa fa-times"></i></div>
		
									<div class="message">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
										diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
										volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
										ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
									</div>
								</li>
								<li>
									<div class="author">
										<img alt="avatar" src="assets/img/default-avatar.png">
									</div>
									<textarea placeholder="Write comment" class="diss-form" style="height: 67px; overflow: hidden; word-wrap: break-word; resize: horizontal;"></textarea>
								</li>
							</ul>
						</li>
						<li>
							<div class="author">
								<img alt="avatar" src="assets/img/avatar9.jpg">
							</div>
							<div class="name">Tom Allen</div>
							<div class="date">Today, 1:08 PM</div>
							<div class="delete"><i class="fa fa-times"></i></div>
							<div class="message">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
								diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
								volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
								ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
							</div>
							<ul>
								<li>
									<div class="author">
										<img alt="avatar" src="assets/img/avatar2.jpg">
									</div>
									<div class="name">Katie Moss</div>
									<div class="date">Today, 1:08 PM</div>
									<div class="delete"><i class="fa fa-times"></i></div>
									<div class="message">
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
										diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
										volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
										ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
									</div>
								</li>
								<li>
									<div class="author">
										<img alt="avatar" src="assets/img/avatar4.jpg">
									</div>
									<div class="name">Anna Holn</div>
									<div class="date">Today, 1:08 PM</div>
									<div class="delete"><i class="fa fa-times"></i></div>
									<div class="message"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
										diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
										volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
										ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
									</div>	
								</li>
								<li>
									<div class="author">
										<img alt="avatar" src="assets/img/avatar9.jpg">
									</div>
									<textarea placeholder="Write comment" class="diss-form" style="height: 67px; overflow: hidden; word-wrap: break-word; resize: horizontal;"></textarea>
								</li>
							</ul>
						</li>
					</ul>
				</div><!--/col-->
			</div>
		</div>
	</article>
	<div class="row">
		<div class="col-md-7">
			<h2 class="sub-header">Members</h2>
			<div class="container-fluid">
				<?php
					foreach ($group_info["users"] as $role => $list){
						echo "<div class=\"row\">";
						echo "<h4 class=\"col-xs-12 col-sm-12 col-md-12\">" . $role . " <span class=\"badge\">" . count($list) . "</span></h4><div class=\"col-xs-12 col-sm-12 col-md-12 avatars\">";
						foreach ($list as $role_user_info){
							if ($role_user_info["avatar_url"] == "") $role_user_info["avatar_url"] = "assets/img/default-avatar.png";
							echo "<img src=\"" . $role_user_info["avatar_url"] . "\" alt=\"" . $role_user_info["first_name"] . " " . $role_user_info["last_name"] . "\" />";
						}
						echo "</div></div>";
					}
				?>
				<!-- a pagination here? -->
			</div>
		</div>
				<section class="col-md-5">
			<h2 class="sub-header"><i class="fa fa-bullhorn"></i> News</h2>
			<section class="row" id="news-list">
				<div class="text-center">
					<div class="col-md-12 text-center" id="news-loader">
						<img src="assets/img/loader.gif" />
					</div>
				</div>
			</section>
		</section>
	</div>
</div>
<?php 
if ($my_permissions["manage"]) : ?>
<div id="manage_group_modal" tab-index="-1" role="dialog" class="modal fade" aria-labelledby="manage_group_modalLabel" aria-hidden="true" data-href="async/group/<?php echo $group_info["id"]?>/man">
	<div class="modal-dialog modal-adaptive">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button"><i class="fa fa-times"></i></button>
				<h3 class="modal-title"><i class="fa fa-cog"></i> Manage Group</h3>
			</div>
			<div class="modal-body text-center">
				<img src="assets/img/loader.gif" />
			</div>
		</div>
	</div>
</div>
<?php endif; 
if ($my_permissions["role_name"] != "guest") :?>
<div id="leave_group_modal" tab-index="-1" role="dialog" class="modal fade" aria-labelledby="leave_group_modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button"><i class="fa fa-times"></i></button>
				<h3 class="modal-title"><i class="fa fa-sign-out"></i> Leave a Group</h3>
			</div>
			<form class="form-horizontal" id="leave_group_form">
				<input type="hidden" name="group_id" value="<?php echo $group_info["id"]?>" />
				<div class="modal-body">
				<?php 
					if ($group_info["creator_user_id"] == $me["id"]) {
						echo "<div class=\"callout callout-danger\"><h4>Confirmation</h4><p>You are the creator of this group. Leaving the group will disband it. To keep the group, please transfer the ownership to another member before leaving.</p></div>" .
							"<label><input type=\"checkbox\" name=\"notify\" value=\"true\" /> Notify every group member that the group will be closed.</label>";
					} else {
						echo "<div class=\"callout callout-warning\"><h4>Confirmation</h4><p>Are you sure to leave this group?</p></div>";
					}
				?>
					<div class="hidden text-center" id="form_prompt">
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="submit">Proceed</button>
					<button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
<?php
endif ;

if (isset($group_footer)) :?>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/holder.js"></script>
	<script src="assets/js/jquery.crypto.js"></script>
	<script src="assets/js/jquery.mousewheel.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
</body>
</html>
<?php endif; ?>