					<div class="container-fluid">
						<h1 class="page-header">My Groups</h1>
						<div class="row placeholders">
							You don't have any groups yet.
						</div>
						<h2 class="sub-header">Section title</h2>
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>#</th><th>Header</th><th>Header</th><th>Header</th><th>Header</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1,001</td><td>Lorem</td><td>ipsum</td><td>dolor</td><td>sit</td>
									</tr>
									<tr>
										<td>1,002</td><td>amet</td><td>consectetur</td><td>adipiscing</td><td>elit</td>
									</tr>
									<tr>
										<td>1,003</td><td>Integer</td><td>nec</td><td>odio</td><td>Praesent</td>
									</tr>
									<tr>
										<td>1,003</td><td>libero</td><td>Sed</td><td>cursus</td><td>ante</td>
									</tr>
									<tr>
										<td>1,004</td><td>dapibus</td><td>diam</td><td>Sed</td><td>nisi</td>
									</tr>
									<tr>
										<td>1,005</td><td>Nulla</td><td>quis</td><td>sem</td><td>at</td>
									</tr>
									<tr>
										<td>1,006</td>
										<td>nibh</td>
										<td>elementum</td>
										<td>imperdiet</td>
										<td>Duis</td>
									</tr>
									<tr>
										<td>1,007</td>
										<td>sagittis</td>
										<td>ipsum</td>
										<td>Praesent</td>
										<td>mauris</td>
									</tr>
									<tr>
										<td>1,008</td>
										<td>Fusce</td>
										<td>nec</td>
										<td>tellus</td>
										<td>sed</td>
									</tr>
									<tr>
										<td>1,009</td>
										<td>augue</td>
										<td>semper</td>
										<td>porta</td>
										<td>Mauris</td>
									</tr>
									<tr>
										<td>1,010</td>
										<td>massa</td>
										<td>Vestibulum</td>
										<td>lacinia</td>
										<td>arcu</td>
									</tr>
									<tr>
										<td>1,011</td>
										<td>eget</td>
										<td>nulla</td>
										<td>Class</td>
										<td>aptent</td>
									</tr>
									<tr>
										<td>1,012</td>
										<td>taciti</td>
										<td>sociosqu</td>
										<td>ad</td>
										<td>litora</td>
									</tr>
									<tr>
										<td>1,013</td>
										<td>torquent</td>
										<td>per</td>
										<td>conubia</td>
										<td>nostra</td>
									</tr>
									<tr>
										<td>1,014</td>
										<td>per</td>
										<td>inceptos</td>
										<td>himenaeos</td>
										<td>Curabitur</td>
									</tr>
									<tr>
										<td>1,015</td>
										<td>sodales</td>
										<td>ligula</td>
										<td>in</td>
										<td>libero</td>
									</tr>
								</tbody>
							</table>
						</div>
						<h2>more</h2>
						<div class="row">
							<div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-2">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h2 class="panel-title"><i class="fa fa-check"></i> To Do List
										<div class="box-icon pull-right">
											<a href="index.html#"><i class="fa fa-wrench"></i></a>
										</div>
										</h2>
									</div>
									<div class="panel-body">
										<div class="todo">
											<ul class="todo-list ui-sortable">
												<li>
													<span class="todo-actions">
														<a href="index.html#"><i class="fa fa-square-o"></i></a>
													</span>
													<span class="desc">Windows Phone 8 App</span> 
													<span class="label label-important">today</span>					
												</li>
												<li>
													<span class="todo-actions">
														<a href="index.html#"><i class="fa fa-square-o"></i></a>
													</span>
													<span class="desc">New frontend layout</span>
													<span class="label label-important">today</span>
												</li>
												<li>
													<span class="todo-actions">
														<a href="index.html#"><i class="fa fa-square-o"></i></a>
													</span>
													<span class="desc">Hire developers</span>
													<span class="label label-warning">tommorow</span>
												</li>
												<li>
													<span class="todo-actions">
														<a href="index.html#"><i class="fa fa-square-o"></i></a>
													</span>
													<span class="desc">Windows Phone 8 App</span>
													<span class="label label-warning">tommorow</span>
												</li>
												<li>
													<span class="todo-actions">
														<a href="index.html#"><i class="fa fa-square-o"></i></a>
													</span>
													<span class="desc">New frontend layout</span>
													<span class="label label-success">this week</span>
												</li>
												<li>
													<span class="todo-actions">
														<a href="index.html#"><i class="fa fa-square-o"></i></a>
													</span>
													<span class="desc">Hire developers</span>
													<span class="label label-success">this week</span>
												</li>
											</ul>
										</div>	
									</div>
								</div><!--/panel-->
							</div><!--/col-->
							<div class="col-lg-5 col-md-5">
								<div class="box noOverflow chat alt">
									<div class="contacts">
										<ul class="list">
											<li>
												<img alt="avatar" src="assets/img/default-avatar.png" class="avatar">
												<span class="name">Lukasz Holeczek</span>
												<span class="status online"></span>
												<span class="important">4</span>
											</li>
											<li>
												<img alt="avatar" src="assets/img/avatar2.jpg" class="avatar">
												<span class="name">Lukasz Holeczek</span>
												<span class="status offline"></span>
											</li>
											<li>
												<img alt="avatar" src="assets/img/avatar3.jpg" class="avatar">
												<span class="name">Lukasz Holeczek</span>
												<span class="status busy"></span>
											</li>
										</ul>	
									</div>
									<div class="conversation">
										<div class="actions">
											<img alt="avatar" src="assets/img/avatar.jpg" class="avatar">
											<img alt="avatar" src="assets/img/avatar3.jpg" class="avatar">
											<img alt="avatar" src="assets/img/avatar4.jpg" class="avatar">
										</div>
										<ul class="talk">
											<li>
												<img alt="avatar" src="assets/img/avatar3.jpg" class="avatar">
												<span class="name">Ann Kovalsky</span>
												<span class="time">1:32PM</span>
												<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
											</li>
											<li>
												<img alt="avatar" src="assets/img/avatar4.jpg" class="avatar">
												<span class="name">Megan Abbott</span>
												<span class="time">1:32PM</span>
												<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
											</li>
											<li>
												<img alt="avatar" src="assets/img/avatar3.jpg" class="avatar">
												<span class="name">Ann Kovalsky</span>
												<span class="time">1:32PM</span>
												<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
											</li>
											<li>
												<img alt="avatar" src="assets/img/avatar.jpg" class="avatar">
												<span class="name">Lukasz Holeczek</span>
												<span class="time">1:32PM</span>
												<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
											</li>
											<li>
												<img alt="avatar" src="assets/img/avatar4.jpg" class="avatar">
												<span class="name">Megan Abbott</span>
												<span class="time">1:32PM</span>
												<div class="message">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
											</li>
										</ul>
										<div class="form">
											<input type="text" placeholder="Write Message" class="write-message">
										</div>	
									</div>
								</div>
							</div><!--/col-->
						</div>
					</div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12 main discussions">
								<ul>
									<li>
										<div class="author">
											<img alt="avatar" src="assets/img/default-avatar.png">
										</div>
										<div class="name">Lukasz Holeczek</div>
										<div class="date">Today, 1:08 PM</div>
										<div class="delete"><i class="fa fa-times"></i></div>
										<div class="message">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
											diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
											volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
											ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
										</div>
										<ul>
											<li>
												<div class="author">
													<img alt="avatar" src="assets/img/avatar3.jpg">
												</div>
												<div class="name">Ann Kovalsky</div>
												<div class="date">Today, 1:08 PM</div>
												<div class="delete"><i class="fa fa-times"></i></div>
			
												<div class="message">
													Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
													diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
													volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
													ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</div>
											</li>
											<li>
												<div class="author">
													<img alt="avatar" src="assets/img/avatar6.jpg">
												</div>
												<div class="name">Megan Abbott</div>
												<div class="date">Today, 1:08 PM</div>
												<div class="delete"><i class="fa fa-times"></i></div>
			
												<div class="message">
													Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
													diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
													volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
													ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</div>
											</li>
											<li>
												<div class="author">
													<img alt="avatar" src="assets/img/default-avatar.png">
												</div>
												<textarea placeholder="Write comment" class="diss-form" style="height: 67px; overflow: hidden; word-wrap: break-word; resize: horizontal;"></textarea>
											</li>
										</ul>
									</li>
									<li>
										<div class="author">
											<img alt="avatar" src="assets/img/avatar9.jpg">
										</div>
										<div class="name">Tom Allen</div>
										<div class="date">Today, 1:08 PM</div>
										<div class="delete"><i class="fa fa-times"></i></div>
										<div class="message">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
											diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
											volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
											ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
										</div>
										<ul>
											<li>
												<div class="author">
													<img alt="avatar" src="assets/img/avatar2.jpg">
												</div>
												<div class="name">Katie Moss</div>
												<div class="date">Today, 1:08 PM</div>
												<div class="delete"><i class="fa fa-times"></i></div>
												<div class="message">
													Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
													diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
													volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
													ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</div>
											</li>
											<li>
												<div class="author">
													<img alt="avatar" src="assets/img/avatar4.jpg">
												</div>
												<div class="name">Anna Holn</div>
												<div class="date">Today, 1:08 PM</div>
												<div class="delete"><i class="fa fa-times"></i></div>
												<div class="message"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
													diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
													volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
													ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
												</div>	
											</li>
											<li>
												<div class="author">
													<img alt="avatar" src="assets/img/avatar9.jpg">
												</div>
												<textarea placeholder="Write comment" class="diss-form" style="height: 67px; overflow: hidden; word-wrap: break-word; resize: horizontal;"></textarea>
											</li>
										</ul>
									</li>
								</ul>
							</div><!--/col-->
						</div>
					</div>