<?php
	$group_str = "";
	if ($groupList["count"] == 0){
		$group_str = "<div id=\"no_group_alert\" class=\"col-md-12 text-center\"><span class=\"alert alert-info\">Oops... You don't have any groups yet.</span></div>";
	} else {
		foreach($groupList["groups"] as $item){
			if (empty($item["avatar_url"])) $item["avatar_url"] = "assets/img/default-avatar-group.png";
			$group_str = $group_str . "<div class=\"col-sm-6 col-md-4\" id=\"group_" . $item["id"] . "\" data-status=\"" . $item["status"] . "\" data-creator=\"" . $item["creator_user_id"] . "\">" .
				"<div class=\"thumbnail\"><img class=\"group-avatar\" src=\"" . $item["avatar_url"] . "\" />" .
				"<div class=\"caption text-center\">" .
				"<h3 class=\"group_alias\">" . $item["alias"] . "</h3>" .
				"<p class=\"group_desc\">" . $item["description"] . "</p>" .
				"<div><a href=\"/my/group/" . $item["id"] . "\" class=\"btn btn-primary enter-group\" role=\"button\">Enter</a> " .
				"<a class=\"btn btn-default\" role=\"button\">Profile</a> <a class=\"btn btn-warning\" role=\"button\">Leave</a></div>" .
				"</div></div></div>";
		}
	}
?><div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">My Groups <span class="badge" id="group_count"><?php echo $groupList["count"]?></span>
				<div class="pull-right wider-screen">
					<button type="button" data-toggle="modal" data-target="#create_group_modal" class="btn btn-primary"><i class="fa fa-plus-square fa-fw"></i> Create</button>
					<button type="button" data-toggle="modal" data-target="#join_group_modal" class="btn btn-success"><i class="fa fa-sign-in fa-fw"></i> Join</button>
				</div>
			</h1>
			<section class="row tablet-only">
				<button type="button" class="btn btn-primary"><i class="fa fa-plus-square"></i> Create</button>
				<button type="button" class="btn btn-info"><i class="fa fa-sign-in"></i> Join</button>
			</section>
			<section class="row" id="group-list">
				<?php echo $group_str?>
			</section>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-md-7">
			<h2 class="sub-header"><i class="fa fa-search"></i> Find</h2>
			<section class="row">
				<div class="col-md-12">
					<input type="text" placeholder="Search..." class="form-control">
				</div>
			</section>
			<section class="row" id="find-result">
			</section>
		</div>
		<div class="col-sm-6 col-md-5">
			<h2 class="sub-header"><i class="fa fa-bullhorn"></i> News</h2>
			<section class="row" id="news-list">
				<div class="text-center">
					<div class="col-md-12 text-center" id="news-loader">
						<img src="assets/img/loader.gif" />
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

<div id="create_group_modal" tab-index="-1" role="dialog" class="modal fade" aria-labelledby="create_group_modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-adaptive">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">
					<i class="fa fa-plus-square"></i> Create a new group
					<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button></h3>
			</div>
			<form class="form-horizontal" action="post" id="create_group_form">
				<div class="modal-body">
					<div class="row form-group">
						<div class="col-sm-4 col-md-3 itemLabel">Name</div>
						<div class="col-sm-8 col-md-9">
							<input type="text" id="alias" name="alias" placeholder="Name of your group." required maxlength="32">
							<p class="help-block">Required. Allow letters, digits, "-", and "_". No more than 32 characters.</p>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-4 col-md-3 itemLabel">Description</div>
						<div class="col-sm-8 col-md-9">                     
							<textarea id="description" name="description" maxlength="150" oninput="limitTextArea('description', 'desc_counter', 150);"></textarea>
							<p class="help-block"><span id="desc_counter">150</span> character(s) left</p>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-4 col-md-3 itemLabel">Tags</div>
						<div class="col-sm-8 col-md-9">
							<input type="text" id="tags" name="tags" placeholder="eg., purdue cs php" size="40">
							<p class="help-block">Optional. Words separated by spaces.</p>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-sm-4 col-md-3 itemLabel">Status</div>
						<div class="col-sm-8 col-md-9">
							<input name="status" id="status-2" value="2" type="radio">
							<label for="status-2">Private - Only group members can see the group.</label><br>
							<input name="status" id="status-3" value="3" type="radio">
							<label for="status-3">Public - Everyone can see the group.</label>
						</div>
					</div>
					<div class="row hidden text-center" id="create_group_prompt">
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="submit">Create</button>
					<button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="join_group_modal" tab-index="-1" role="dialog" class="modal fade" aria-labelledby="join_group_modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<h3 class="modal-title"><i class="fa fa-sign-in"></i> Join a Group</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<h4>Please paste the invitation key provided by the group admin:</h4>
					<input type="text" name="ticket" id="ticket" class="form-control" tabindex="3" data-placement="bottom" required />
				</div>
				<div id="rst_result" style="display:none;"></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="submit">Proceed</button>
				<button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
			</div>
		</div>
	</div>
</div>