<?php
echo "<div class=\"col-sm-6 col-md-4\" id=\"group_" . $item["id"] . "\" data-status=\"" . $item["status"] . "\" data-creator=\"" . $item["creator_user_id"] . "\">" .
		"<div class=\"thumbnail\"><img class=\"large-avatar\" src=\"" . $item["avatar_url"] . "\" />" .
		"<div class=\"caption text-center\">" .
		"<h3 class=\"group_alias\"><a href=\"/my/group/" . $item["id"] . "\" class=\"enter-group\">" . $item["alias"] . "</a></h3>" .
		"<p class=\"group_desc\">" . $item["description"] . "</p>" .
		"</div></div></div>";