	<div class="author">
		<img alt="avatar" src="assets/img/avatar3.jpg">
	</div>
	<div class="name">Ann Kovalsky</div>
	<div class="date">Today, 1:08 PM</div>
	<div class="delete"><i class="fa fa-times"></i></div>
	<div class="message">
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed 
		diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
		volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
		ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
	</div>