<?php
$menu_list = array(
	"dashboard" => array("fa-home", "Home", ""),
	"groups" => array("fa-users", "Groups", ""),
	"boards" => array("fa-list-alt", "Boards", ""),
	"items" => array("fa-book", "Items", ""),
	"wallet" => array("fa-credit-card", "Wallet", ""),
	"settings" => array("fa-cogs", "Settings", ""),
);
$menu_list[$panel][2] = " active";
?><!DOCTYPE html>
<html lang="en">
	<head>
		<base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title><?php echo ucfirst($panel)?> | Ugl</title>
		<link rel="dns-prefetch" href="//cdnjs.cloudflare.com/">
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="assets/css/animate.min.css" />
		<link rel="stylesheet" href="assets/css/magnific-popup.css" />
		<link rel="stylesheet" href="assets/custom/usercp.theme.css" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" />
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	
	<body>
		<header class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/my/dashboard">UGLi Dashboard</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
								<div class="avatar"><img id="my_avatar" alt="Avatar" src="<?php echo empty($me["avatar_url"]) ? "assets/img/default-avatar.png" : $me["avatar_url"];?>"></div>
								<div class="user">
									<span class="hello">Welcome!</span>
									<span class="name"><?php echo $me["first_name"] . " " . $me["last_name"]?></span>
								</div>
							</a>
							<ul class="user-menu pull-right dropdown-menu">
								<li><a href="#"><i class="fa fa-user"></i> Profile </a></li>
								<li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
								<li class="divider"></li>
								<li><a href="/" onclick="logOut();"><i class="fa fa-sign-out"></i> Logout</a></li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-right">
						<input type="text" class="form-control" placeholder="Search...">
					</form>
				</div>
			</div>
		</header>
		
		<div class="container-fluid sidebar" id="touch-sidebar">
			<div class="row nav nav-sidebar">
				<div class="col-xs-12 col-sm-12">
					<ul class="nav nav-sidebar">
						<?php
						foreach ($menu_list as $key => $val)
							echo "<li><a class=\"" . $key . "-li" . $val[2] . "\" href=\"/my/" . $key . "\"><i class=\"fa ". $val[0] ." fa-3x\"></i></a></li>";?>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="row">
				<div class="sidebar wide-sidebar" id="wide-sidebar">
					<ul class="nav nav-sidebar">
						<?php
						foreach ($menu_list as $key => $val)
							echo "<li><a class=\"" . $key . "-li" . $val[2] . "\" href=\"/my/" . $key . "\"><i class=\"fa ". $val[0] ." fa-3x\"></i><br />" . $val[1] . "</a></li>";?>
					</ul>
				</div>
				<div id="main">
					<?php
						if (isset($sub_panel)){
							echo $this->render($sub_panel . '.html');
						} else if (isset($panel))
							echo $this->render('my_' . $panel . '.html');
						else echo "Loading...";
					?>
				</div>
			</div>
		</div>
		<script src="//cdnjs.cloudflare.com/ajax/libs/lazyload/2.0.3/lazyload-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/holder.js"></script>
		<script src="assets/js/jquery.crypto.js"></script>
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<script src="assets/js/jquery.mousewheel.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.address/1.6/jquery.address.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.49/jquery.form.min.js"></script>
		<script src="assets/custom/usercp.js"></script>
	</body>
</html>
