<?php
foreach ($records as $item) {
	echo "<tr class=\"wallet_record\" data-id=\"" . $item["id"] . "\">".
		"<td id=\"created_at\">" . $item["created_at"] . "</td>".
		"<td id=\"category\">" . $item["category"] . "</td>".
		"<td id=\"sub_category\">" . $item["sub_category"] . "</td>".
		"<td id=\"description\">" . $item["description"] . "</td>".
		"<td id=\"amount\">" . $item["amount"] . "</td>".
		"<td id=\"actions\"><span><i class=\"fa fa-pencil-square-o\"></i> <i class=\"fa fa-trash-o\"></i></span></td></tr>";
}
