<div class="container-fluid" id="wallet_<?php echo $wallet_item["id"]?>">
	<div class="row">
		<h2 class="sub-header">	
			<a class="enter-wallet" href="/my/wallet/<?php echo $wallet_item["id"]?>"><?php echo $wallet_item["name"]?></a>
			<div class="btn-group pull-right">
				<a role="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu pull-right" role="menu">
					<li><a href="#"><i class="fa fa-pencil-square-o fa-fw"></i> Edit</a></li>
					<li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
					<li class="divider"></li>
					<li><a href="#"><i class="fa fa-refresh fa-fw"></i> Refresh</a></li>
				</ul>
			</div>
		</h2>
		<div class="row">
			<div class="col-md-12"><?php echo $wallet_item["description"]?></div>
		</div>
		<h3>
			<span onclick="togglePanel(this)" class="cursor-pointer">
				<i class="fa fa-angle-up"></i> Recent records
			</span>
		</h3>
		<div class="table-responsive" id="content">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Time</th><th>Category</th><th>Description</th><th>Amount</th>
					</tr>
				</thead>
				<tbody>
				<?php
				if ($wallet_item["records"]["count"] > 0) {
					$sum = 0;
					foreach ($wallet_item["records"]["records"] as $r) {
						$sum += $r["amount"];
						echo "<tr>" .
						 "<td>" . $r["created_at"] . "</td><td>" . $r["category"] . " / " . $r["sub_category"] . "</td><td>" . $r["description"] . "</td><td>" . $r["amount"] . "</td></tr>";
					}
					echo "<tr><td>Sum</td><td></td><td></td><td>" . $sum . "</td></tr>";
				}
				?>
				<tr>
					<td>Balance</td>
					<td></td>
					<td></td>
					<td><?php echo $wallet_item["balance"];?></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>