<ol class="breadcrumb">
	<li>Home</li>
	<?php if ($wallet_item["group_id"]) : ?><li id="group-alias"><a class="panel-link" href="/my/group/<?php echo $group_info["id"]?>"><?php echo $group_info["alias"]?></a></li><?php else :?>
	<li><a class="panel-link" href="/my/wallets">Wallets</a></li><?php endif ?>
	<li class="active"><?php echo $wallet_item["name"]?></li>
</ol>	
<div class="container-fluid">
	<div class="row">
		<h1 class="page-header" data-id="<?php echo $wallet_item["id"]?>">
			<?php echo $wallet_item["name"];
			echo "<div class=\"pull-right\">";
			echo "<a class=\"btn btn-primary\" role=\"button\" data-toggle=\"modal\" data-target=\"#join_group_modal\"><i class=\"fa fa-pencil-square-o fa-fw\"></i> Edit</a> ";
			echo "<a class=\"btn btn-default\" role=\"button\" data-toggle=\"modal\" data-target=\"#join_group_modal\"><i class=\"fa fa-trash-o fa-fw\"></i> Delete</a> ";
			echo "</div>"
			?>
		</h1>
		<div class="row">
			<div class="col-md-7"><?php echo $wallet_item["description"]?></div>
			<div class="col-md-5">
				<div class="table-responsive" id="content">
					<table class="table table-striped">
						<tbody>
							<tr><td>Created at</td><td><?php echo $wallet_item["created_at"]?></td></tr>
							<tr><td>Number of Records</td><td id="num_of_records"><?php echo $wallet_item["num_of_records"]?></td></tr>
							<tr><td>Current Balance</td><td><?php echo $wallet_item["balance"]?></td></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<h3>Records</h3>
		<div class="table-responsive" id="content">
			<table class="table table-striped" id="records">
				<thead>
					<tr>
						<th>Time</th>
						<th>Category</th>
						<th>Subcategory</th>
						<th>Description</th>
						<th class="col-md-1">Amount</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="records_body">
				</tbody>
			</table>
			<ul id="pagination" class="pagination">
			</ul>
		</div>
	</div>
	<a name="add_new"></a>
	<h3>new records</h3>
	<div class="table-responsive">
		<table class="table table-striped">
			<form id="new_record_form" method="post" action="/api/wallet/add_records">
				<input type="hidden" name="wallet_id" value="<?php echo $wallet_item["id"]?>" />					
				<input type="hidden" id="num_of_new_records" value="0" />
				<thead>
					<th>Time</th>
					<th>Category</th>
					<th>Subcategory</th>
					<th>Description</th>
					<th class="col-md-1">Amount</th>
					<th></th>
				</thead>
				<tbody id="new_record_list">
				</tbody>
				<tbody id="new_record_control">
					<tr class="wallet_record hidden" id="add_new_record">
						<td id="created_at"><input type="date" class="form-control new_record_proto" name="item[i][created_at]" id="created_at" size="10" maxlength="10" required /></td>
						<td>
							<select name="item[i][category]" class="selectpicker new_record_proto" data-live-search="true" data-width="auto" id="new_category">
								<optgroup label="spending">
									<option value="regular">Regular</option>
									<option value="occasional">Occasional</option>
								</optgroup>
								<optgroup label="income">
									<option value="income">Income</option>
								</optgroup>
								<optgroup label="others">
									<option value="transfer">Transfer</option>
								</optgroup>
							</select>
						</td>
						<td><select name="item[i][sub_category]" class="selectpicker new_record_proto" data-live-search="true" data-width="auto">
								<option value="food">Food</option>
							</select>
						</td>
						<td id="description"><input name="item[i][description]" class="new_record_proto" /></td>
						<td id="amount"><input type="number" name="item[i][amount]" class="new_record_proto" size="7" /> </td>
						<td id="actions"><i class="fa fa-trash-o cursor-pointer" onclick="deleteNewRecord(this)"></i></td>
					</tr>
					<tr>
						<td colspan="6" class="text-right">
							<input type="button" onclick="addNewRecord()" class="btn btn-primary" value="More rows" />
							<button class="btn btn-success"><i class="fa fa-plus fa-fw"></i> Add</button>
						</td>
					</tr>
				</tbody>
			</form>
		</table>
	</div>
</div>